

body {
    background-image: url('../images/bg.jpg');
    background-color: steelblue;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 50%;
    align-self: center;
    background-color: white;
    display: block;
    margin: 100px auto;
    border-radius: 10px;
    padding-bottom: 50px;
    box-shadow: 5px 10px 20px black;

}

.app-title {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app-title p {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #333;
}

#search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    outline: none;
    border: 3px solid steelblue;
    font-size: 14pt;
}
.notification {
    background-color: white;
    display: none;
}

.notification p {
    color: red;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;

}

.weather-container {
    width: 100%;
    height: 260px;
    background-color: white;
    margin-top: 20px;

}

.weather-icon {
    width: 100%;
    height: 80px;
}

.weather-icon img {
    display: block;
    margin: 0 auto;
    margin-left: auto;
    height: 80px;
    width: 80px;
    
}


.temperature-value {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 2.5em;
    text-align: center;
    width: 100%;
    height: 60px;
}



.temperature-description {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.2em;
}
.temperature-humidity {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.2em;
}
.temperature-wind-speed {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.2em;
}
.location{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 2.8em;
}

div.relative {
    position: absolute;
    top: 600px;
    right: 120px;
}

.search-btn-container {
    margin-top: 10px;
    
}

#search-btn {
    font-size: 12pt;
}